body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  margin: 20px;
}

#produto-destaque {
  align-self: center;
  margin-bottom: 20px;
}

#lista-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#lista-produtos .produto {
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
}

.produtos-secundarios {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  background-color: gray; /* Cor de fundo desejada */
}
